APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://pauzr.tk

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=pauzr.cvash7oqqs62.ap-south-1.rds.amazonaws.com
DB_PORT=5432
DB_DATABASE=pauzr
DB_USERNAME=vapor
DB_PASSWORD=UEiBwCXZIAgD0bBNzWmWa9ZQwXJ7NwNUWr4DrH0U

BROADCAST_DRIVER=pusher
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=891434
PUSHER_APP_KEY=abd0716eddc0702f68a4
PUSHER_APP_SECRET=9ec8fcb8e24b4bd56378
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=EfsHD0es4kNRuCejpMQnIyWE61CY3UcZGfYILCXzU0pNi7aRDvMr8gKu6g3GuEED

MSG91_KEY=289720ADJppQz1tU5d557a56
MSG91_SENDER_ID=SOCIAL
MSG91_ROUTE=4
MSG91_COUNTRY=0
MSG91_LIMIT_CREDIT=false

SCOUT_QUEUE=true
SCOUT_DRIVER=algolia

ALGOLIA_APP_ID=UQQROBVIKV
ALGOLIA_SECRET=4434d505c571ad22ade9ab779646525d
